alias ls='ls --color=auto --show-control-chars'
alias ll='ls -l --color=auto --show-control-chars'
alias la='ls -la --color=auto --show-control-chars'
alias grep='grep --color'
alias df='df -h'
alias du='du -h'
alias ps='ps --sort=start_time'
alias rm='rm -i'

alias c='pygmentize -O style=colorful -g -O encoding=utf-8'
alias cl='pygmentize -O style=colorful,linenos=1 -g -O encoding=utf-8'
alias mkx509='openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout myPrivateKey.key -out myCert.pem'
