alias ls='ls --color=auto --show-control-chars'
alias ll='ls -l --color=auto --show-control-chars'
alias la='ls -la --color=auto --show-control-chars'
alias grep='grep --color'
alias df='df -h'
alias du='du -h'
alias ps='ps --sort=start_time'
alias rm='rm -i'
alias gitbp='git branch --merged |  grep -Ev "(\*|master|devel|stag|v[0-9])" | xargs --no-run-if-empty -n 1 git branch -d' 
alias gitsu='git submodule foreach git pull origin master'
alias c='pygmentize -O style=colorful -g -O encoding=utf-8'
alias cl='pygmentize -O style=colorful,linenos=1 -g -O encoding=utf-8'
